@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: OpenSans-Regular;
}

a {
    text-decoration: none;
    color: #38353B;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.index-img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 14px;
}

.bg {
    position: absolute;
    width: 200px;
    height: 70px;
    z-index: -1;
    bottom: -18px;
    left: -40px;
    background-color: black;
    filter: blur(30px);
    opacity: 40%;
}

.index {
    position: relative;
    top: 240px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.index > div:first-of-type > p {
    width: 600px;
    margin: 20px auto;
}

.index > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 580px;
    margin: 40px auto;
}

.index > div:last-of-type > p {
    margin: 0;
    font-size: 14px;
}

.button {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #48B585;
}

.bg2 {
    position: absolute;
    height: 280px;
    width: 106%;
    background-color: black;
    z-index: -1;
    top: -40px;
    left: -25px;
    filter: blur(30px);
    opacity: 40%;
}
