/* шрифты */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

/* общие стили */
* {
    padding: 0;
    margin: 0;
    font-family: OpenSans-Regular, serif;
    color: #38353B;
}

a {
    text-decoration: none;
    color: #38353B;
    transition: .15s linear;
}

h1, h2, h3, h4 {
    font-family: OpenSans-Bold, serif;
}

a:hover{
    color: #52d396;
}

.button {
    color: white;
    width: 140px;
    height: 38px;
    border-radius: 10px;
    border: 3px solid;
    transition: .15s linear;
}

.green {
    background-color: #48B585;
    border-color: #48B585;
}

.green:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

.gray {
    background-color: #38353B;
    border-color: #38353B;
}

.gray:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

/* админка */

.summary {
    display: none;
}

.user-index, .user-view, .user {
    width: 80%;
    margin: 50px auto;
}

.user-index > h1 {
    margin-bottom: 20px;
}

.table img {
    width: 100px;
}

/* шапка */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 320px;
    border-bottom: 3px solid #38353B;
}

header > div > a {
    margin-left: 20px;
}

/* главная */

.index-img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 14px;
}


.bg {
    position: absolute;
    width: 200px;
    height: 70px;
    z-index: -1;
    bottom: -18px;
    left: -40px;
    background-color: black;
    filter: blur(30px);
    opacity: 40%;
}

.index {
    position: relative;
    top: 240px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.index > div:first-of-type > p {
    width: 600px;
    margin: 20px auto;
}

.index > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 580px;
    margin: 40px auto;
}

.index > div:last-of-type > p {
    margin: 0;
    font-size: 14px;
}

.button-index {
    background-color: #48B585;
    border: 3px solid #48B585;
}

.bg2 {
    position: absolute;
    height: 280px;
    width: 106%;
    background-color: black;
    z-index: -1;
    top: -40px;
    left: -25px;
    filter: blur(30px);
    opacity: 40%;
}

/* вход */

.form-box {
    margin: 130px 0;
    text-align: center;
}

#login-form {
    margin: 0 auto;
}

#login-form > div {
    width: 20%;
    margin: 30px auto !important;

    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: block;
}

.input-error {
    text-align: left;
    color: #c74e4e;
}

#login-form > div:last-of-type > div {
    text-align: center;
}

.input-form {
    border: none;
    width: 100%;
    border-bottom: 3px solid #38353B;
    outline: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* регистрация */

#register-form > div{
    width: 22%;
    margin: 30px auto !important;

    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: block;
}

/* профиль */

.profile {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.profile::before {
    content: '';
    width: 58px;
    height: 300px;
    transform: rotate(16deg);
    background-color: #48B585;
    z-index: -1;
    left: -30px;
    bottom: 10px;
    position: absolute;
    border-radius: 10px;
}

.profile::after {
    content: '';
    width: 180px;
    height: 90px;
    background-color: #38353B;
    z-index: -1;
    left: 400px;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.users {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}

.users > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.users > div::before {
    content: '';
    width: 126px;
    height: 335px;
    background-color: #48B585;
    z-index: -1;
    left: 63px;
    position: relative;
    border-radius: 10px;
}

.users > div > img {
    margin-right: 40px;
    border-radius: 10px;
}

.users > div > div > p {
    margin-left: 20px;
}

.cars {
    padding-top: 80px;
    width: 55%;
}

.cars > div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 50px 0 0 0;
}

.cars > div > img {
    margin-right: 40px;
    border-radius: 10px;
    object-fit:cover;
}

.cars > h1 {
    font-family: OpenSans-Regular, serif;
}

/*.cars > div > div {*/
/*    padding-top: 45px;*/
/*}*/

.cars > div > div > p {
    margin-left: 20px;
}

.cars > div > div > div > a {
    margin-right: 15px;
}

.cars > div::before {
    content: '';
    width: 106px;
    height: 285px;
    background-color: #38353B;
    z-index: -1;
    left: 53px;
    position: relative;
    border-radius: 10px;
}