/* шрифты */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

/* общие стили */
* {
    padding: 0;
    margin: 0;
    font-family: OpenSans-Regular, serif;
    color: #38353B;
}

a {
    text-decoration: none;
    color: #38353B;
    transition: .15s linear;
}

h1, h2, h3, h4 {
    font-family: OpenSans-Bold, serif;
}

a:hover{
    color: #52d396;
}

.none {
    background-color: white;
    border: 0;
}

.button {
    color: white;
    width: 160px;
    height: 38px;
    border-radius: 10px;
    border: 3px solid;
    transition: .15s linear;
}

.green {
    background-color: #48B585;
    border-color: #48B585;
}

.green:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

.red {
    background-color: #CF5252;
    border-color: #CF5252;
}

.red:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

.yellow {
    background-color: #E1E35C;
    border-color: #E1E35C;
}

.yellow:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

.gray {
    background-color: #38353B;
    border-color: #38353B;
}

.gray:hover {
    background-color: rgb(243, 243, 243);
    color: #38353B;
}

/* админка */

.adm {
    padding-top: 80px;
    width: 55%;
}

.adm > h1 {
    font-family: OpenSans-Regular, serif;
    margin-bottom: 20px;
}

.adm > div {
    margin: 0 0 40px 10px;
}

.adm > div > p {
    font-size: 22px;
    margin-left: 10px;
}

.adm > div > a {
    margin-right: 10px;
}

.summary {
    display: none;
}

/* пагинация */

.pagination {
    justify-content: center;
}

.pagination > li {
    padding: 0 6px;
    margin: 0 4px;
}

.pagination > .active {
    border-bottom: 2px solid #48B585;
    color: #48B585;
}

/* админка пользователя */

.user-index, .user-view {
    width: 70%;
    margin: 50px auto;
}

.user-index > h1, .user-view > h1, .user-view > p {
    margin-left: 20px;
}

.user-view > p > a {
    margin-right: 10px;
}

.user-index > h1 {
    margin-bottom: 20px;
}

/* админка машины */

.car-index, .car-view {
    width: 70%;
    margin: 50px auto;
}

.car-index > h1, .car-view > h1, .car-view > p {
    margin-left: 20px;
}

.car-view > p > a {
    margin-right: 10px;
}

.car-index > h1 {
    margin-bottom: 20px;
}

/* админка доходов */

.incomes-index, .incomes-view {
    width: 70%;
    margin: 50px auto;
}

.incomes-index > h1, .incomes-view > h1, .incomes-view > p {
    margin-left: 20px;
}

.incomes-view > p > a {
    margin-right: 10px;
}

.incomes-index > h1 {
    margin-bottom: 20px;
}

/* админка расходов */

.expenditures-index, .expenditures-view {
    width: 70%;
    margin: 50px auto;
}

.expenditures-index > h1, .expenditures-view > h1, .expenditures-view > p {
    margin-left: 20px;
}

.expenditures-view > p > a {
    margin-right: 10px;
}

.expenditures-index > h1 {
    margin-bottom: 20px;
}

/* админка сервисов */

.services-index, .services-view {
    width: 70%;
    margin: 50px auto;
}

.services-index > h1, .services-view > h1, .services-view > p {
    margin-left: 20px;
}

.services-view > p > a {
    margin-right: 10px;
}

.services-index > h1 {
    margin-bottom: 20px;
}

/* админка заправок */

.refills-index, .refills-view {
    width: 70%;
    margin: 50px auto;
}

.refills-index > h1, .refills-view > h1, .refills-view > p {
    margin-left: 20px;
}

.refills-view > p > a {
    margin-right: 10px;
}

.refills-index > h1 {
    margin-bottom: 20px;
}

/* админка заправок */

.fuel-types-index, .fuel-types-view {
    width: 70%;
    margin: 50px auto;
}

.fuel-types-index > h1, .fuel-types-view > h1, .fuel-types-view > p {
    margin-left: 20px;
}

.fuel-types-view > p > a {
    margin-right: 10px;
}

.fuel-types-index > h1 {
    margin-bottom: 20px;
}

.table img {
    width: 100px;
}

/* шапка */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 320px;
    border-bottom: 3px solid #38353B;
}

header > div > a {
    margin-left: 20px;
}

/* форма */

/* главная */

.index-img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 14px;
}


.bg {
    position: absolute;
    width: 200px;
    height: 70px;
    z-index: -1;
    bottom: -18px;
    left: -40px;
    background-color: black;
    filter: blur(30px);
    opacity: 40%;
}

.index {
    position: relative;
    top: 240px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.index > div:first-of-type > p {
    width: 600px;
    margin: 20px auto;
}

.index > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 580px;
    margin: 40px auto;
}

.index > div:last-of-type > p {
    margin: 0;
    font-size: 14px;
}

.button-index {
    background-color: #48B585;
    border: 3px solid #48B585;
}

.bg2 {
    position: absolute;
    height: 280px;
    width: 106%;
    background-color: black;
    z-index: -1;
    top: -40px;
    left: -25px;
    filter: blur(30px);
    opacity: 40%;
}

/* вход */

.form-box {
    margin: 130px 0;
    text-align: center;
}

.input-error {
    text-align: left;
    color: #c74e4e;
}

#form > div:last-of-type > div {
    text-align: center;
}

.input-form {
    border: none;
    width: 100%;
    min-height: 32px;
    max-height: 200px;
    border-bottom: 3px solid #38353B;
    outline: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* регистрация */

#form > div{
    width: 22%;
    margin: 30px auto !important;

    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: block;
}

/* профиль */

.profile {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.profile::before {
    content: '';
    width: 48px;
    height: 300px;
    transform: rotate(14deg);
    background-color: #48B585;
    z-index: -1;
    left: -14px;
    bottom: 10px;
    position: absolute;
    border-radius: 10px;
}

.profile::after {
    content: '';
    width: 180px;
    height: 90px;
    background-color: #38353B;
    z-index: -1;
    left: 400px;
    bottom: 0;
    position: fixed;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.users {
    width: 42%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}

.users > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.users > div::before {
    content: '';
    width: 126px;
    height: 335px;
    background-color: #48B585;
    z-index: -1;
    left: 63px;
    position: relative;
    border-radius: 10px;
}

.avatar {
    position: relative;
    margin-right: 40px;
}

.avatar > img {
    border-radius: 10px;
    object-fit: cover;
}

.gear {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #38353B;
    border-radius: 50%;
    padding: 3px;
}

.users > div > div > p {
    margin-left: 20px;
}

.users > div > div:last-of-type > a:first-of-type {
    margin-right: 10px;
}

.cars {
    padding-top: 80px;
    width: 55%;
}

.cars > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cars > div:first-of-type > h1 {
    font-family: OpenSans-Regular, serif;
    margin-right: 30px;
}

.car {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 50px 0 0 0;
}

.car > img {
    margin-right: 40px;
    border-radius: 10px;
    object-fit:cover;
}

.car > div > p {
    margin-left: 20px;
}

.car > div > div > a {
    margin-right: 15px;
}

.car::before {
    content: '';
    width: 106px;
    height: 285px;
    background-color: #38353B;
    z-index: -1;
    left: 53px;
    position: relative;
    border-radius: 10px;
}

/* записи */

.notes {
    padding: 60px 0;
}

.notes > div:first-of-type {
    width: 75%;
    margin: 0 auto 60px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorts {
    display: block;
    text-align: center;
    border-bottom: 2px solid white;
    width: 46px;
    position: relative;
    right: 17px;
    margin: 0 12px;
    padding: 0 3px;
}

.notes-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-bottom: 30px;
}

.notes-button > p {
    margin: 0;
    font-size: 20px;
}

.notes-list {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.note:last-of-type {
    margin-bottom: 0;
}

.note-info {
    width: 90%;
}

.note-info div {
    display: flex;
}

.note-info p {
    margin-bottom: 0;
    font-size: 22px;
}

.note-img {
    width: 100px;
    height: 100px;
}

.note-header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #38353B;
    padding: 0 20px 12px 20px;
}

.note-header > div > p:last-of-type {
    margin-left: 20px;
}

.note-footer {
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 0 20px;
}

.note-footer > div > a:last-of-type {
    margin-left: 20px;
}

.fuel {
    margin-right: 20px;
}

/* фильтрация */

.filter > form {
    display: flex;
    justify-content: right;
    align-items: center;
}

.filter > form > input, select {
    width: 180px;
    margin-right: 30px;
}

.filter > form > button {
    margin-right: 15px;
}

/* сортировка */

.asc {
    border-bottom: 2px solid #48B585;
}

.asc::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 48px;

    width: 15px;
    height: 15px;

    background-image: url("../../web/img/arrow.png");
    background-size: cover;
}

.desc {
    border-bottom: 2px solid #48B585;
}

.desc::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 48px;

    width: 15px;
    height: 15px;

    background-image: url("../../web/img/arrow.png");
    background-size: cover;
    transform: rotate(180deg);
}